.git
.gitignore
.env
.env.docker
.venv
__pycache__
*.pyc
*.pyo
*.log
*.sqlite3
.coverage
coverage.xml
coverage.txt
media/
static/
.idea
.vscode
.DS_Store
celerybeat-schedule
celerybeat.pid
.pytest_cache
README.md
htmlcov/
nginx/
scripts/
*.md
