# Django Secret Key
SECRET_KEY=django-insecure-***ЗАМЕНИТЕ НА РЕАЛЬНЫЙ КЛЮЧ***

# PostgreSQL Database
DB_NAME=lms_database
DB_USER=postgres
DB_PASSWORD=***ЗАМЕНИТЕ НА РЕАЛЬНЫЙ ПАРОЛЬ***
DB_HOST=localhost
DB_PORT=5432

# Django Settings
DEBUG=True
ALLOWED_HOSTS=

# Time Zone
TIME_ZONE=Europe/Moscow

# Stripe
STRIPE_PUBLISHABLE_KEY=pk_test_...
STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...  # (опционально, для вебхуков)
