SECRET_KEY=django-insecure-temp-key-for-docker-only
DB_NAME=lms_database
DB_USER=postgres
DB_PASSWORD=temp123
DB_HOST=db
DB_PORT=5432
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
REDIS_URL=redis://redis:6379
STRIPE_PUBLISHABLE_KEY=pk_test_dummy
STRIPE_SECRET_KEY=sk_test_dummy